<div class="container">
    <h3>Fincom  job applying test work ,by Sergey Krupnov </h3>
    <div >
        <p>The are two Api calls both POST</p>
        <p>First: - {{host}}/str - no recursive calls, all work on pure String </p>
        <p>Second: - {{host}}/obj - transferring json to object, use recursive call to flatten object </p>
    </div>

</div>