<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>fincom</title>
</head>
<body>
{{>home}}


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>